@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
:root {
  --background: #0d1521;
  --primary: #1c7bff;
  --accent-gold: #e5b80b;
  --accent-fire: #ff6b35;
  --cyan-highlight: #6addff;
  --text-primary: #f0f4fc;
  --text-secondary: #8c9ba5;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  /* Smooth scroll behavior */
  scroll-behavior: smooth;
}
body {
  font: 10px "ICA Rubrik";
  background-color: var(--background);
  overflow-x: hidden;
}
.container {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header {
  position: absolute;
  /* inset: 0 0 0 0; */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  z-index: 999;
  background-color: #4b4b4b5b;
  backdrop-filter: blur(1rem);
}

.head-left {
  display: flex;
  align-items: center;
}
.head-left img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.head-left button {
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.head-left button:hover {
  opacity: 0.7;
}

.head-right {
  display: flex;
}

.head-right a {
  text-decoration: none;
  padding-left: 2.5rem;
  color: var(--text-primary);
  font-size: 1.3rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-video-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-info {
  position: absolute;
  z-index: 1;
  top: 8rem;
  left: 5rem;
}

.hero-info h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 12rem;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hero-info p {
  color: white;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  max-width: 30rem;
}

.hero-info button {
  background-color: var(--accent-gold);
  border: 2px solid var(--accent-gold);
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
  margin-top: 1rem;
}

.hero-info button:hover {
  background-color: transparent;
  color: var(--text-primary);
  box-shadow: 0 0 1.5rem var(--accent-gold);
}

.gaming-text {
  font-size: 12rem;
  margin: 0;
  position: absolute;
  right: 2rem;
  bottom: 3rem;
}

.next-btn {
  height: 20rem;
  width: 20rem;
  background-color: var(--accent-gold);
  position: absolute;
  left: 45%;
  bottom: 45%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
}

.next-btn:hover {
  width: 20rem;
  height: 20rem;
  opacity: 1;
  box-shadow: 0 0 1.5rem white;
}

.about {
  height: 100%;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
}

.image-container {
  width: 30rem;
  height: 41rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about p {
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
}

.about h1 {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-weight: 900;
  font-size: 10rem;
  max-width: 1150rem;
  text-align: center;
  margin: 2.5rem 0;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a1,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008baa
  );
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

.about h4 {
  margin-top: 5rem;
  max-block-size: 0;
  font-size: 1.5rem;
}
.about h5 {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--text-secondary);
  max-width: 42.5rem;
  text-align: center;
  line-height: 2.5rem;
}
.stones{
  position: absolute;
  margin-top: 42%;
  width: 5rem;
}
.info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin-top: 10rem;
}
.info h3 {
  margin-bottom: 0;
  font-size: 2rem;
}

.info p {
  margin-top: 0.5rem;
  color: var(--text-secondary);
  max-width: 40rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.info-card-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.card {
  position: relative;
  width: auto;
  height: 40vh;
  overflow: hidden;
  border: 0.1rem solid var(--text-secondary);
  border-radius: 2rem;
  transition: 0.5s;
}

.card h1 {
  position: absolute;
  margin: 0;
  top: 1rem;
  left: 5%;
  font-size: 6rem;
  z-index: 1;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a1,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008baa
  );
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
  max-width: 25rem;
}

.card p {
  position: absolute;
  top: 8rem;
  left: 5%;
  font-size: 1rem;
  line-height: 1.5;
  z-index: 1;
  max-width: 25rem;
  color: var(--text-primary);
}

.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 1rem 2.5rem;
  border: 0.1rem solid var(--text-secondary);
  background-color: var(--background);
  color: var(--text-primary);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem var(--primary);
  cursor: pointer;
  transition: 0.3s;
  transform: scale(0.9);
}

.card button:hover {
  box-shadow: 0 0 1.5rem var(--cyan-highlight);
  opacity: 0.7;
  transform: scale(1.2) translateY(-0.5rem);
}
.card:hover {
  box-shadow: 0 0 15px var(--accent-fire);
}

.card:nth-child(1) {
  grid-column: span 2;
  height: 90vh;
}
.card:nth-child(1) > h1 {
  max-width: 50rem;
}

.card:nth-child(3) > h1 {
  max-width: 50rem;
}

.card:nth-child(3) {
  grid-row: span 2;
  height: 83vh;
}
.contact {
  position: relative;
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 10rem;
}

.contact .img1 {
  position: absolute;
  top: 10%;
  right: -3rem;
  height: 25rem;
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 93% 60%, 70% 100%, 42% 92%, 22% 62%, 23% 31%); */
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 32% 100%); */
  clip-path: polygon(29% 0, 82% 0, 67% 100%, 9% 100%);
}
.contact .img2 {
  position: absolute;
  left: 3rem;
  top: 1rem;
  height: 20rem;
  clip-path: polygon(
    26% 10%,
    66% 2%,
    100% 23%,
    100% 77%,
    81% 91%,
    28% 94%,
    8% 74%,
    9% 24%
  );
}

.contact .img3 {
  position: absolute;
  left: 5%;
  bottom: 5%;
  height: 25rem;
  width: 25rem;
  clip-path: polygon(
    50% 0%,
    71% 23%,
    98% 35%,
    98% 66%,
    79% 91%,
    50% 70%,
    21% 91%,
    9% 70%,
    2% 35%,
    30% 24%
  );
}

.contact p {
  margin-top: 10rem;
  font-size: 1.2rem;
}

.contact h1 {
  font-size: 7rem;
  max-width: 55rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a1,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008baa
  );
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}
.contact button {
  padding: 1rem 2.5rem;
  border: 0.1rem solid var(--text-secondary);
  background-color: var(--background);
  color: var(--text-primary);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem var(--primary);
  cursor: pointer;
  transition: 0.3s;
  transform: scale(0.9);
}
.contact button:hover {
  box-shadow: 0 0 1.5rem var(--cyan-highlight);
  opacity: 0.7;
  transform: scale(1.2) translateY(0.5rem);
}
.footer{
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-fire);
  backdrop-filter: blur(1rem);
}
.footer p{
  margin: 0 2rem;
  font-size: 1.2rem;
}
.footer i{
  /* font-size: 1.2rem; */
}
.footer ul{
  display: flex;
  margin-right: 14rem;
}
.footer a{
  text-decoration: none;
  color: var(--text-primary);
  padding: .7rem .7rem;
  border-radius: 5rem;
  border: .1rem solid var(--cyan-highlight);
  transition: 0.3s;
  margin: 0 1rem ;
}

/* AUTO BLUR ANIMATION */

.autoBlur{
  animation: AutoBlur linear both;
  /* Animation timeline ensures the animation takes places during scrolling */
  animation-timeline: view();
}
@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

@keyframes AutoBlur {
  0%{
    filter: blur(4rem);
  }
  40%,60%{
    filter: blur(0);
    transform: translateY(0rem);
    opacity: 1;
  }
  100%{
    filter: blur(4rem);
    transform: translateY(-20rem);
    opacity: 0;
  }
}

/* TAKE FULL SCREEN ANIMATION */

.autoFill{
  animation: autoFull both;
  animation-timeline: view(70% 65%);
}

@keyframes autoFull {
  to{
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin-bottom: 10rem;
  }
}

/* AUTO DISPLAY ANIMATION */

.autoDisplay{
  animation: fadeIn both;
  animation-timeline: view(70% 5%);
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(20rem) scale(0.3);
  }to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width : 480px){
  header{
    padding: 0 10px;
  }
  .head-left button{
    display: none;
  }
  .head-right a{
    font-size: 1.2rem;
    padding: 0 .5rem;
  }
  .hero-info{
    left: 5%;
  }
  .hero h1{
    font-size: 9rem;
  }
  .next-btn{
    left: 25%;
    top: 40%;
  }
  .about{
    margin: 0;
  }
  .about h1{
    font-size: 5rem;
  }
  .image-container{
    width: 30rem;
    height: 50rem;
  }
  .about h4, .about h5{
    max-width: 35rem;
    text-align: center;
  }
  .stones{
    margin-top: 80%;
    width: 40rem;
  }
  .contact .img1{
    width: 15rem;
    height: 20rem;
    right: 0;
    top: 2rem;
  }
  .contact .img2{
    top: 3rem;
    left: -4rem;
    width: 15rem;
    height: 18rem;
  }
  .contact .img3{
    left: -4rem;
    bottom: 0;
    width: 15rem;
    height: 18rem; 
  }
  .contact h1{
    font-size: 6rem;
    max-width: 30rem;
  }
  .footer p{
    display: none;
  }
  .footer ul{
    margin-left: 7rem;
  }
}